<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Update task</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>

	body{
		background-color: #638CB8;
	}

	input{
		width: 100%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

	input::placeholder {
	  color: #d3d3d3;
	}

	.submit{
		background-color: #6BA3E8;
	}

  .center_column{
    width:600px;
    margin:20px auto;
    padding:20px;
    background-color:#fff;
    border-radius:3px;
    box-shadow:6px 2px 30px 0px rgba(0,0,0,0,75);

  }
	}

</style>
  </head>
  <body>
    <div class="center_column">
    <h1>Updated Task</h1>
    <form class="" action="" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" name="Updated tasks" value="Updated tasks">
    </form>
    </div>
  </body>
</html>
